@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="index_content">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('../back.jpg');
        background-size: cover;
        min-height: 90vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;">

                <div class="carousel_content">

                    <h1>Disaster Alleviation Foundation</h1>
                    <br>

                </div>
            </div>

        </div>
    </div>
</div>