@page
@model Task1.Pages.ViewGoodsModel
@{
    ViewData["Title"] = "View Goods Allocated";
}
<h1>Allocated Goods History</h1>

<h4>@Model.hasData</h4>
<table class="customers">
    <tr>
        <th>ID</th>
        <th>Date_OF_Allocation</th>
        <th>Goods Allocated</th>

        <th>Action</th>
    </tr>
    <tbody>
        @foreach (var list in Model.getClass)
        {
            // //AG.Date_OF_Allocation, Ag.Goods, D.DISASTER_DESCRIPTION,D.STARTING_DATE, D.ENDING_DATE,D.LOCATION
        <tr>
            <td>@list.getID()</td>
            <td>@list.getDate_OF_Allocation()</td>
            <td>@list.getGoods()</td>
            <td>
                <a class="button1" href="#">Delete</a>
                <a href="button2">Update</a>
                <a href="button3">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
